* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f0f8f5;
  color: #333;
  background: #e6f4ea;
  margin: 0;
  padding: 0;
}

header {
  background-color: #218c74;
  padding: 20px;
  color: white;
  text-align: center;
}

.menu {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
}

header h1 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin: 0 12px;
}

nav a:hover {
  text-decoration: underline;
}

section {
  padding: 40px 20px;
  max-width: 1000px;
  margin: auto;
}

h2 {
  margin-bottom: 15px;
  color: #2e7d32;
}

ul {
  margin-top: 10px;
  list-style-type: disc;
  padding-left: 20px;
}

img {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

footer {
  background-color: #2e7d32;
  color: #fff;
  text-align: center;
  padding: 15px 20px;
  margin-top: 40px;
}

.materiais,
.jogos,
.eventos {
  background: #e6f4ea;
  margin-bottom: 22px;
  padding: 14px 20px;
  border-radius: 8px;
}
.materiais ul {
  list-style-type: disc;
  margin-left: 20px;
}
.materiais a {
  color: #218c74;
  font-weight: bold;
  text-decoration: underline;
}
.jogos button {
  background: #218c74;
  color: #fff;
  border: none;
  padding: 10px 24px;
  border-radius: 6px;
  font-size: 1em;
  margin-bottom: 10px;
  cursor: pointer;
}
.jogos button:hover {
  background: #186456;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 14px;
}
th,
td {
  border: 1px solid #218c7440;
  padding: 10px;
  text-align: left;
}
th {
  background: #218c74;
  color: #fff;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}
.modal-content {
  background: #fff;
  margin: 6% auto;
  padding: 22px;
  border: 1px solid #888;
  width: 340px;
  border-radius: 7px;
  text-align: left;
}
.close {
  float: right;
  font-size: 24px;
  cursor: pointer;
  color: #218c74;
}
#resultadoQuiz {
  margin-top: 14px;
  font-weight: bold;
  color: #218c74;
}
